/* setup container styles */
.bubble-container {
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background: #dcdde0;
	height: 520px;
	max-width: 750px;
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}
.bubble-wrap {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: -17px;
	padding: 10px calc(17px + 10px) 30px 10px;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	-webkit-transform: translate3d(0, 0, 0);
}
